<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div>
	    <div>
                <h2>Human Expression Recognition</h2>
                <p>For more information, see <a href="https://github.com/MockingLee/ExpressionRecognition" target="_blank">MockingLee/ExpressionRecognition</a>  at Github.</p>

            </div>

	    <div>
                <h4>Upload Image</h4>
                <form method="POST" enctype="multipart/form-data" action="fileUpload">
                    <div class="col-md-6 md-3">
                        <input type="file" name="uploaded_image" accept="image/*">
                        <small class="text-muted">Accepted mime-type: image/jpeg, image/png</small>
                    </div>
		    <hr>
                    <button type="submit">Upload</button>
                </form>
	    </div>


            <footer>
                <p>Pkmgtdz, 2019. ljx971966614@gmail.com</p>
            </footer>
        </div>

</body>
</html>