<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Camera API</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}" type="text/css" media="screen">
    </head>

    <body>

        <div class="container" >
            <h1>Human Expression Recognition</h1>

            <section class="main-content" id="01">
                <p>请上传RGB三通道图片，并确保人脸全部范围在图片范围内。如未识别出人脸及没有绿色矩形则无法预测。</p>

                <p>
                    <input type="file" id="take-picture" accept="image/*">
                </p>

                <h2>Preview:</h2>
                <p>
                    <img src="about:blank" alt="" id="show-picture" style="max-width:100%;overflow:hidden;" >
                </p>

                <p id="error"></p>

            </section>

            <p class="footer">For more info please turn to <a href="https://github.com/MockingLee/ExpressionRecognition">ExpressionRecognition repository on GitHub</a>.</p>
            <p>Contact : <a href="mailto:ljx971966614@gmail.com">ljx971966614@gmail.com</a></p>
        </div>


        <script src="{{ url_for('static', filename='js/base.js') }}"></script>
        <script src="{{ url_for('static', filename='js/jquery-3.4.0.js') }}"></script>


    </body>
</html>